In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
%matplotlib inline
warnings.filterwarnings(action='ignore') 
import urllib.request 
import json 
from pandas.io.json import json_normalize 
from bs4 import BeautifulSoup

In [2]:
import requests
import json
import pprint
# 부산 440,410,710,290,170,260,230,320,530,380,140,500,470,200,110,350
url = 'http://apis.data.go.kr/B552061/jaywalking/getRestJaywalking'
params ={'serviceKey' : 'QmnwzKg91T496WKWEYKjgb+HQChmcpkc7+DY46Q45S3wwbpYjuyIT5mlyv6h4nk5EPbZLDqniiR0KW1JAOUdxw==', 
         'searchYearCd' : ['2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020'], 
         'siDo' : '11', # '26', '27', '28', '29', '30', '31', '36', '41', '42', '43', '44', '45', '46','47','48','50'
         'guGun' : ['680', '740', '305', '500', '620', '215', '530', '545', 
                    '350', '320', '230', '590', '440', '410', '650', '200', 
                    '290', '710', '470', '560', '170', '380', '110', '140', '260'],
         'type' : 'json', 
         'numOfRows' : '10000', 
         'pageNo' : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10'] }

response = requests.get(url, params=params)

In [3]:
response

In [4]:
contents = response.text
json_ob = json.loads(contents)
item = json_ob['items']['item']
df = json_normalize(item)
df[:2]

,afos_fid,afos_id,bjd_cd,spot_cd,sido_sgg_nm,spot_nm,occrrnc_cnt,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,geom_json,lo_crd,la_crd
0,167320,2013114,1168010500,111122001,서울 서울강남1,서울특별시 강남구 삼성동(원혜빌딩 부근),4,4,0,3,1,0,"{""type"":""Polygon"",""coordinates"":[[[127.0568688...",127.05446947119,37.508720365953
1,167392,2013114,1168010500,111122002,서울 서울강남2,서울특별시 강남구 삼성동(삼성역 부근),6,6,1,4,1,0,"{""type"":""Polygon"",""coordinates"":[[[127.0657286...",127.063329279024,37.508654302655

In [5]:
contents = response.text
# contents
pp = pprint.PrettyPrinter(indent=4)
# print(pp.pprint(contents))

In [6]:
json_ob = json.loads(contents)
json_ob['totalCount']

8

In [7]:
print(type(json_ob))

<class 'dict'>

In [8]:
item = json_ob['items']['item']
print(item)

[{'afos_fid': 167320, 'afos_id': '2013114', 'bjd_cd': '1168010500', 'spot_cd': '111122001', 'sido_sgg_nm': '서울 서울강남1', 'spot_nm': '서울특별시 강남구 삼성동(원혜빌딩 부근)', 'occrrnc_cnt': 4, 'caslt_cnt': 4, 'dth_dnv_cnt': 0, 'se_dnv_cnt': 3, 'sl_dnv_cnt': 1, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0568688,37.5106317],[127.0564639,37.5109071],[127.0560099,37.5111288],[127.055518,37.5112911],[127.0550003,37.5113901],[127.0544695,37.5114234],[127.0539387,37.5113901],[127.0534209,37.5112911],[127.052929,37.5111288],[127.052475,37.5109071],[127.0520701,37.5106317],[127.0517244,37.5103091],[127.0514462,37.5099475],[127.0512424,37.5095556],[127.0511181,37.5091432],[127.0510764,37.5087203],[127.0511182,37.5082975],[127.0512425,37.507885],[127.0514463,37.5074932],[127.0517245,37.5071315],[127.0520703,37.506809],[127.0524751,37.5065336],[127.0529291,37.506312],[127.053421,37.5061496],[127.0539387,37.5060506],[127.0544695,37.5060174],[127.0550002,37.5060506],[127.055518,37.5061496],[127.0560098,37.506312],[127.0564638,37.5065336],[127.0568687,37.506809],[127.0572145,37.5071315],[127.0574927,37.5074932],[127.0576964,37.507885],[127.0578208,37.5082975],[127.0578626,37.5087203],[127.0578208,37.5091432],[127.0576965,37.5095556],[127.0574928,37.5099475],[127.0572146,37.5103091],[127.0568688,37.5106317]]]}', 'lo_crd': '127.05446947119', 'la_crd': '37.508720365953'}, {'afos_fid': 167392, 'afos_id': '2013114', 'bjd_cd': '1168010500', 'spot_cd': '111122002', 'sido_sgg_nm': '서울 서울강남2', 'spot_nm': '서울특별시 강남구 삼성동(삼성역 부근)', 'occrrnc_cnt': 6, 'caslt_cnt': 6, 'dth_dnv_cnt': 1, 'se_dnv_cnt': 4, 'sl_dnv_cnt': 1, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0657286,37.5105656],[127.0653237,37.5108411],[127.0648698,37.5110627],[127.0643778,37.511225],[127.0638601,37.511324],[127.0633293,37.5113573],[127.0627985,37.511324],[127.0622807,37.511225],[127.0617888,37.5110627],[127.0613348,37.5108411],[127.0609299,37.5105656],[127.0605842,37.5102431],[127.060306,37.5098814],[127.0601022,37.5094895],[127.059978,37.5090771],[127.0599362,37.5086543],[127.059978,37.5082314],[127.0601023,37.507819],[127.0603061,37.5074271],[127.0605843,37.5070655],[127.0609301,37.506743],[127.0613349,37.5064675],[127.0617889,37.5062459],[127.0622808,37.5060836],[127.0627985,37.5059846],[127.0633293,37.5059513],[127.0638601,37.5059846],[127.0643778,37.5060836],[127.0648697,37.5062459],[127.0653236,37.5064675],[127.0657285,37.506743],[127.0660743,37.5070655],[127.0663525,37.5074271],[127.0665563,37.507819],[127.0666806,37.5082314],[127.0667224,37.5086543],[127.0666806,37.5090771],[127.0665563,37.5094895],[127.0663526,37.5098814],[127.0660744,37.5102431],[127.0657286,37.5105656]]]}', 'lo_crd': '127.063329279024', 'la_crd': '37.508654302655'}, {'afos_fid': 167338, 'afos_id': '2013114', 'bjd_cd': '1168010400', 'spot_cd': '111122003', 'sido_sgg_nm': '서울 서울강남3', 'spot_nm': '서울특별시 강남구 청담동(영동대교남단삼거리_도산대로_진 부근)', 'occrrnc_cnt': 7, 'caslt_cnt': 8, 'dth_dnv_cnt': 0, 'se_dnv_cnt': 5, 'sl_dnv_cnt': 3, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0550216,37.5267527],[127.0546166,37.5270281],[127.0541625,37.5272497],[127.0536705,37.5274121],[127.0531527,37.5275111],[127.0526217,37.5275444],[127.0520908,37.5275111],[127.0515729,37.5274121],[127.0510809,37.5272497],[127.0506268,37.5270281],[127.0502219,37.5267527],[127.049876,37.5264301],[127.0495978,37.5260685],[127.049394,37.5256766],[127.0492697,37.5252642],[127.0492279,37.5248413],[127.0492697,37.5244185],[127.0493941,37.524006],[127.0495979,37.5236142],[127.0498761,37.5232525],[127.050222,37.52293],[127.0506269,37.5226546],[127.051081,37.522433],[127.051573,37.5222706],[127.0520908,37.5221716],[127.0526217,37.5221384],[127.0531526,37.5221716],[127.0536704,37.5222706],[127.0541624,37.522433],[127.0546165,37.5226546],[127.0550215,37.52293],[127.0553673,37.5232525],[127.0556456,37.5236142],[127.0558494,37.524006],[127.0559737,37.5244185],[127.0560155,37.5248413],[127.0559738,37.5252642],[127.0558495,37.5256766],[127.0556457,37.5260685],[127.0553674,37.5264301],[127.0550216,37.5267527]]]}', 'lo_crd': '127.052621723215', 'la_crd': '37.52484136204'}, {'afos_fid': 167220, 'afos_id': '2013114', 'bjd_cd': '1168010800', 'spot_cd': '111122004', 'sido_sgg_nm': '서울 서울강남4', 'spot_nm': '서울특별시 강남구 논현동(청하빌딩 부근)', 'occrrnc_cnt': 7, 'caslt_cnt': 7, 'dth_dnv_cnt': 1, 'se_dnv_cnt': 5, 'sl_dnv_cnt': 0, 'wnd_dnv_cnt': 1, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0250644,37.5104353],[127.0246595,37.5107108],[127.0242056,37.5109324],[127.0237136,37.5110947],[127.0231959,37.5111938],[127.0226651,37.511227],[127.0221343,37.5111938],[127.0216165,37.5110947],[127.0211246,37.5109324],[127.0206706,37.5107108],[127.0202658,37.5104353],[127.01992,37.5101128],[127.0196418,37.5097511],[127.019438,37.5093592],[127.0193138,37.5089468],[127.019272,37.508524],[127.0193138,37.5081011],[127.0194381,37.5076887],[127.0196419,37.5072968],[127.0199201,37.5069352],[127.0202659,37.5066127],[127.0206707,37.5063372],[127.0211247,37.5061156],[127.0216166,37.5059533],[127.0221343,37.5058543],[127.0226651,37.505821],[127.0231959,37.5058543],[127.0237136,37.5059533],[127.0242055,37.5061156],[127.0246594,37.5063372],[127.0250643,37.5066127],[127.0254101,37.5069352],[127.0256883,37.5072968],[127.025892,37.5076887],[127.0260164,37.5081011],[127.0260582,37.508524],[127.0260164,37.5089468],[127.0258921,37.5093592],[127.0256884,37.5097511],[127.0254102,37.5101128],[127.0250644,37.5104353]]]}', 'lo_crd': '127.022665078332', 'la_crd': '37.508524016071'}, {'afos_fid': 167171, 'afos_id': '2013114', 'bjd_cd': '1168010100', 'spot_cd': '111134001', 'sido_sgg_nm': '서울 서울수서1', 'spot_nm': '서울특별시 강남구 역삼동(한은금융결재원 부근)', 'occrrnc_cnt': 4, 'caslt_cnt': 4, 'dth_dnv_cnt': 0, 'se_dnv_cnt': 3, 'sl_dnv_cnt': 1, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0398039,37.5017959],[127.0393991,37.5020713],[127.0389451,37.5022929],[127.0384533,37.5024553],[127.0379356,37.5025543],[127.0374048,37.5025876],[127.0368741,37.5025543],[127.0363564,37.5024553],[127.0358645,37.5022929],[127.0354106,37.5020713],[127.0350058,37.5017959],[127.03466,37.5014733],[127.0343819,37.5011117],[127.0341782,37.5007198],[127.0340539,37.5003074],[127.0340122,37.4998845],[127.0340539,37.4994617],[127.0341782,37.4990492],[127.034382,37.4986574],[127.0346602,37.4982957],[127.0350059,37.4979732],[127.0354107,37.4976977],[127.0358646,37.4974761],[127.0363565,37.4973138],[127.0368741,37.4972148],[127.0374048,37.4971815],[127.0379355,37.4972148],[127.0384532,37.4973138],[127.038945,37.4974761],[127.0393989,37.4976977],[127.0398038,37.4979732],[127.0401495,37.4982957],[127.0404277,37.4986574],[127.0406314,37.4990492],[127.0407557,37.4994617],[127.0407975,37.4998845],[127.0407558,37.5003074],[127.0406315,37.5007198],[127.0404278,37.5011117],[127.0401496,37.5014733],[127.0398039,37.5017959]]]}', 'lo_crd': '127.037404836265', 'la_crd': '37.499884552931'}, {'afos_fid': 167490, 'afos_id': '2013114', 'bjd_cd': '1168010300', 'spot_cd': '111134002', 'sido_sgg_nm': '서울 서울수서2', 'spot_nm': '서울특별시 강남구 개포동(두상빌딩 부근)', 'occrrnc_cnt': 4, 'caslt_cnt': 4, 'dth_dnv_cnt': 0, 'se_dnv_cnt': 3, 'sl_dnv_cnt': 1, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.047841,37.4785179],[127.0474363,37.4787933],[127.0469825,37.479015],[127.0464908,37.4791773],[127.0459732,37.4792763],[127.0454426,37.4793096],[127.0449121,37.4792763],[127.0443945,37.4791773],[127.0439028,37.479015],[127.043449,37.4787933],[127.0430443,37.4785179],[127.0426987,37.4781953],[127.0424206,37.4778337],[127.042217,37.4774418],[127.0420928,37.4770294],[127.042051,37.4766065],[127.0420928,37.4761837],[127.042217,37.4757712],[127.0424207,37.4753794],[127.0426988,37.4750177],[127.0430445,37.4746952],[127.0434492,37.4744197],[127.0439029,37.4741981],[127.0443946,37.4740358],[127.0449121,37.4739368],[127.0454426,37.4739035],[127.0459732,37.4739368],[127.0464907,37.4740358],[127.0469824,37.4741981],[127.0474361,37.4744197],[127.0478408,37.4746952],[127.0481865,37.4750177],[127.0484646,37.4753794],[127.0486682,37.4757712],[127.0487925,37.4761837],[127.0488343,37.4766065],[127.0487925,37.4770294],[127.0486683,37.4774418],[127.0484647,37.4778337],[127.0481866,37.4781953],[127.047841,37.4785179]]]}', 'lo_crd': '127.045442645763', 'la_crd': '37.476606558647'}, {'afos_fid': 167254, 'afos_id': '2013114', 'bjd_cd': '1168011800', 'spot_cd': '111134003', 'sido_sgg_nm': '서울 서울수서3', 'spot_nm': '서울특별시 강남구 도곡동(부영빌딩 부근)', 'occrrnc_cnt': 6, 'caslt_cnt': 6, 'dth_dnv_cnt': 0, 'se_dnv_cnt': 6, 'sl_dnv_cnt': 0, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0344337,37.4902734],[127.0340289,37.4905488],[127.0335751,37.4907705],[127.0330833,37.4909328],[127.0325657,37.4910318],[127.032035,37.4910651],[127.0315043,37.4910318],[127.0309867,37.4909328],[127.0304949,37.4907705],[127.0300411,37.4905488],[127.0296363,37.4902734],[127.0292906,37.4899508],[127.0290125,37.4895892],[127.0288088,37.4891973],[127.0286846,37.4887849],[127.0286428,37.488362],[127.0286846,37.4879392],[127.0288089,37.4875267],[127.0290126,37.4871349],[127.0292907,37.4867732],[127.0296364,37.4864507],[127.0300412,37.4861752],[127.030495,37.4859536],[127.0309868,37.4857913],[127.0315044,37.4856923],[127.032035,37.485659],[127.0325656,37.4856923],[127.0330832,37.4857913],[127.033575,37.4859536],[127.0340288,37.4861752],[127.0344336,37.4864507],[127.0347793,37.4867732],[127.0350574,37.4871349],[127.0352611,37.4875267],[127.0353854,37.4879392],[127.0354272,37.488362],[127.0353854,37.4887849],[127.0352612,37.4891973],[127.0350575,37.4895892],[127.0347794,37.4899508],[127.0344337,37.4902734]]]}', 'lo_crd': '127.032035004113', 'la_crd': '37.488362052168'}, {'afos_fid': 167330, 'afos_id': '2013114', 'bjd_cd': '1168010600', 'spot_cd': '111134004', 'sido_sgg_nm': '서울 서울수서4', 'spot_nm': '서울특별시 강남구 대치동(은마아파트입구 부근)', 'occrrnc_cnt': 11, 'caslt_cnt': 11, 'dth_dnv_cnt': 0, 'se_dnv_cnt': 7, 'sl_dnv_cnt': 4, 'wnd_dnv_cnt': 0, 'geom_json': '{"type":"Polygon","coordinates":[[[127.0634803,37.5002818],[127.0630755,37.5005572],[127.0626216,37.5007789],[127.0621297,37.5009412],[127.061612,37.5010402],[127.0610813,37.5010735],[127.0605505,37.5010402],[127.0600329,37.5009412],[127.059541,37.5007789],[127.0590871,37.5005572],[127.0586823,37.5002818],[127.0583365,37.4999592],[127.0580584,37.4995976],[127.0578547,37.4992057],[127.0577304,37.4987933],[127.0576887,37.4983704],[127.0577305,37.4979476],[127.0578548,37.4975352],[127.0580585,37.4971433],[127.0583367,37.4967816],[127.0586824,37.4964591],[127.0590872,37.4961837],[127.0595411,37.4959621],[127.0600329,37.4957997],[127.0605506,37.4957007],[127.0610813,37.4956675],[127.061612,37.4957007],[127.0621296,37.4957997],[127.0626215,37.4959621],[127.0630754,37.4961837],[127.0634802,37.4964591],[127.0638259,37.4967816],[127.0641041,37.4971433],[127.0643078,37.4975352],[127.0644321,37.4979476],[127.0644739,37.4983704],[127.0644322,37.4987933],[127.0643079,37.4992057],[127.0641042,37.4995976],[127.063826,37.4999592],[127.0634803,37.5002818]]]}', 'lo_crd': '127.061081285974', 'la_crd': '37.498370475018'}]

In [9]:
df = json_normalize(item)
df[:2]

,afos_fid,afos_id,bjd_cd,spot_cd,sido_sgg_nm,spot_nm,occrrnc_cnt,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,geom_json,lo_crd,la_crd
0,167320,2013114,1168010500,111122001,서울 서울강남1,서울특별시 강남구 삼성동(원혜빌딩 부근),4,4,0,3,1,0,"{""type"":""Polygon"",""coordinates"":[[[127.0568688...",127.05446947119,37.508720365953
1,167392,2013114,1168010500,111122002,서울 서울강남2,서울특별시 강남구 삼성동(삼성역 부근),6,6,1,4,1,0,"{""type"":""Polygon"",""coordinates"":[[[127.0657286...",127.063329279024,37.508654302655

In [10]:
len(df.columns)

15

In [11]:
from urllib.parse import urlencode, quote_plus
import requests
import pandas as pd

# 서울 보행자무단횡단사고다발지역정보

url = 'http://apis.data.go.kr/B552061/jaywalking/getRestJaywalking'
year_param = ['2012','2013','2014','2015', '2016', '2017', '2018', '2019', '2020']
guGun_param = ['680', '740', '305', '500', '620', '215', '530', '545', '350', 
               '320', '230', '590', '440', '410', '650', '200', '290', '710', 
               '470', '560', '170', '380', '110', '140', '260']

data = pd.DataFrame()

for i in range(0, len(guGun_param)):
    for j in range(0, len(year_param)):
        params ={'serviceKey' : 'QmnwzKg91T496WKWEYKjgb+HQChmcpkc7+DY46Q45S3wwbpYjuyIT5mlyv6h4nk5EPbZLDqniiR0KW1JAOUdxw==', 
         'searchYearCd' : year_param[j], 
         'siDo' : '11', # '26', '27', '28', '29', '30', '31', '36', '41', '42', '43', '44', '45', '46','47','48','50'
         'guGun' : guGun_param[i],
         'type' : 'json', 
         'numOfRows' : '100', 
         'pageNo' :'1' }
        response = requests.get(url, params)
        contents = response.text
        
        # payload = 'servicekey=' + serviceKey + '&' + 'searchYearCd' + year_param[j] + '&' +'siDo=11' + 'guGun='+ guGun_param[i] +'type=xml&numOfRows=10&pageNo=1'
        
        json_ob = json.loads(contents)
        item = json_ob['items']['item']
        
        df = json_normalize(item)
        data = pd.concat([data, df])

In [12]:
data.shape

(589, 15)

In [13]:
data.head(2)

,afos_fid,afos_id,bjd_cd,spot_cd,sido_sgg_nm,spot_nm,occrrnc_cnt,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,geom_json,lo_crd,la_crd
0,167320,2013114,1168010500,111122001,서울 서울강남1,서울특별시 강남구 삼성동(원혜빌딩 부근),4,4,0,3,1,0,"{""type"":""Polygon"",""coordinates"":[[[127.0568688...",127.05446947119,37.508720365953
1,167392,2013114,1168010500,111122002,서울 서울강남2,서울특별시 강남구 삼성동(삼성역 부근),6,6,1,4,1,0,"{""type"":""Polygon"",""coordinates"":[[[127.0657286...",127.063329279024,37.508654302655

In [14]:
geom_json = data['geom_json']
data.drop('geom_json', axis=1 ,inplace=True)

In [15]:
data.head()

,afos_fid,afos_id,bjd_cd,spot_cd,sido_sgg_nm,spot_nm,occrrnc_cnt,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,lo_crd,la_crd
0,167320,2013114,1168010500,111122001,서울 서울강남1,서울특별시 강남구 삼성동(원혜빌딩 부근),4,4,0,3,1,0,127.05446947119,37.508720365953
1,167392,2013114,1168010500,111122002,서울 서울강남2,서울특별시 강남구 삼성동(삼성역 부근),6,6,1,4,1,0,127.063329279024,37.508654302655
2,167338,2013114,1168010400,111122003,서울 서울강남3,서울특별시 강남구 청담동(영동대교남단삼거리_도산대로_진 부근),7,8,0,5,3,0,127.052621723215,37.52484136204
3,167220,2013114,1168010800,111122004,서울 서울강남4,서울특별시 강남구 논현동(청하빌딩 부근),7,7,1,5,0,1,127.022665078332,37.508524016071
4,167171,2013114,1168010100,111134001,서울 서울수서1,서울특별시 강남구 역삼동(한은금융결재원 부근),4,4,0,3,1,0,127.037404836265,37.499884552931

In [16]:
data.sido_sgg_nm.value_counts()

서울 서울관악2       8
서울 서울노원1       8
서울 서울금천2       8
서울 서울서대문1      8
서울 서울강북1       8
              ..
서울특별시 서대문구2    1
서울특별시 서대문구1    1
서울특별시 관악구1     1
서울특별시 관악구2     1
서울 서울중랑11      1
Name: sido_sgg_nm, Length: 190, dtype: int64

In [17]:
data.drop('spot_nm', axis=1, inplace=True)
data.head()

,afos_fid,afos_id,bjd_cd,spot_cd,sido_sgg_nm,occrrnc_cnt,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,lo_crd,la_crd
0,167320,2013114,1168010500,111122001,서울 서울강남1,4,4,0,3,1,0,127.05446947119,37.508720365953
1,167392,2013114,1168010500,111122002,서울 서울강남2,6,6,1,4,1,0,127.063329279024,37.508654302655
2,167338,2013114,1168010400,111122003,서울 서울강남3,7,8,0,5,3,0,127.052621723215,37.52484136204
3,167220,2013114,1168010800,111122004,서울 서울강남4,7,7,1,5,0,1,127.022665078332,37.508524016071
4,167171,2013114,1168010100,111134001,서울 서울수서1,4,4,0,3,1,0,127.037404836265,37.499884552931

In [18]:
data.groupby('sido_sgg_nm')[['occrrnc_cnt', 'caslt_cnt']].sum()

             occrrnc_cnt  caslt_cnt
sido_sgg_nm
서울 서울강남1              37         38
서울 서울강남2              25         28
서울 서울강남3              12         14
서울 서울강남4               7          7
서울 서울강동1              48         50
...                  ...        ...
서울특별시 종로구1            11         11
서울특별시 종로구2             5          6
서울특별시 중구1             15         15
서울특별시 중구2             10         11
서울특별시 중구3              8          8

[190 rows x 2 columns]

In [19]:
data['seoul_sgg'] = data['sido_sgg_nm']
data.head()

,afos_fid,afos_id,bjd_cd,spot_cd,sido_sgg_nm,occrrnc_cnt,caslt_cnt,dth_dnv_cnt,se_dnv_cnt,sl_dnv_cnt,wnd_dnv_cnt,lo_crd,la_crd,seoul_sgg
0,167320,2013114,1168010500,111122001,서울 서울강남1,4,4,0,3,1,0,127.05446947119,37.508720365953,서울 서울강남1
1,167392,2013114,1168010500,111122002,서울 서울강남2,6,6,1,4,1,0,127.063329279024,37.508654302655,서울 서울강남2
2,167338,2013114,1168010400,111122003,서울 서울강남3,7,8,0,5,3,0,127.052621723215,37.52484136204,서울 서울강남3
3,167220,2013114,1168010800,111122004,서울 서울강남4,7,7,1,5,0,1,127.022665078332,37.508524016071,서울 서울강남4
4,167171,2013114,1168010100,111134001,서울 서울수서1,4,4,0,3,1,0,127.037404836265,37.499884552931,서울 서울수서1

In [20]:
data['seoul_sgg'] = data.seoul_sgg.apply(lambda x:x.replace('서울특별시', ''))
data['seoul_sgg'] = data.seoul_sgg.apply(lambda x:x.replace('서울', ''))
data['seoul_sgg'] = data.seoul_sgg.apply(lambda x:x.replace(' ', ''))
data['seoul_sgg'] = data['seoul_sgg'].str.replace('\d+', '')
data['seoul_sgg']

# data['seoul_sgg'] = data['seoul_sgg'].replace('서울특별시', ' ', regax=True)
# data['seoul_sgg'] = data['seoul_sgg'].replace('서울', ' ',regax=True)
# data['seoul_sgg'] = data['seoul_sgg'].replace(' ', '',regax=True)

0     강남
1     강남
2     강남
3     강남
4     수서
      ..
10    중랑
0     중랑
1     중랑
2     중랑
3     중랑
Name: seoul_sgg, Length: 589, dtype: object

In [21]:
data.groupby('seoul_sgg')[['occrrnc_cnt', 'caslt_cnt']].sum()

           occrrnc_cnt  caslt_cnt
seoul_sgg
강남                  81         87
강남구                  6          6
강동                  95         98
강북                 212        245
강북구                  6          6
강서                  92         99
강서구                 10         11
관악                 233        249
관악구                 20         20
광진                  55         61
광진구                  9         11
구로                 193        208
구로구                 27         30
금천                 162        183
금천구                 35         42
남대문                 38         38
노원                 137        145
노원구                 14         15
도봉                  82         86
도봉구                  9         10
동대문                152        158
동작                  81         94
동작구                 16         18
마포                 101        117
마포구                 14         15
방배                  28         29
서대문                144        152
서대문구                11         11
서부                  96         98
서초                  68         72
서초구                 10         10
성동                  60         61
성북                  23         24
성북구                 15         15
송파                  54         55
수서                  72         77
양천                 126        135
양천구                 14         15
영등포                227        247
영등포구                14         14
용산                  72         82
은평                 160        179
은평구                  9          9
종로                  69         76
종로구                 16         17
종암                  92         93
중구                  33         34
중랑                 174        196
중부                  82         89
혜화                 133        140

In [22]:
data['seoul_sgg'] = data.seoul_sgg.apply(lambda x:x.replace('구', '') if len(x) >= 3 else x)
data[data['seoul_sgg']=='로'] = data[data['seoul_sgg']=='로'].apply(lambda x:x.replace('로', '구로'))
data.groupby('seoul_sgg')[['occrrnc_cnt', 'caslt_cnt']].sum()

           occrrnc_cnt  caslt_cnt
seoul_sgg
강남                  87         93
강동                  95         98
강북                 218        251
강서                 102        110
관악                 253        269
광진                  64         72
구로                 220        238
금천                 197        225
남대문                 38         38
노원                 151        160
도봉                  91         96
동대문                152        158
동작                  97        112
마포                 115        132
방배                  28         29
서대문                155        163
서부                  96         98
서초                  78         82
성동                  60         61
성북                  38         39
송파                  54         55
수서                  72         77
양천                 140        150
영등포                241        261
용산                  72         82
은평                 169        188
종로                  85         93
종암                  92         93
중구                  33         34
중랑                 174        196
중부                  82         89
혜화                 133        140